# Dependencies
node_modules

.DS_Store
*.pem
*.log
*.txt
*.md
!README.md
!docs/*.md

# Next.js
.next
out
build
next-env.d.ts

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
*.pem

# Editor
.vscode
.idea

# Drizzle
drizzle/meta

# TypeScript build info
*.tsbuildinfo
